* {
    box-sizing: border-box;
}

body {
    background-color: #DCDCDC;
    display: grid;
    min-height: 100vh;
}

header {
    background-color: ;
}

footer {
    text-align: center;
    background-color: darkgrey;
}

.button {
    position: center;
}

h1 {
    font: 600 1.5em/1 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    color: rgba(0, 0, 0, .5);
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

#main {
    display: grid;
    /* justify-content: space-around; */
    /* grid-auto-flow: column; */
    flex-direction: column;
}

.card {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 350px;
    border: 2px solid green;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
}

p {
    font-size: 18px;
    font-style: normal;
}

.component {
    background-color: pink;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
}

.componentBox1 {}

.componentBox2 {}

.inputUpload {
    margin-bottom: 10px;
    height: 70px;
    display: flex;
    background: yellow;
    justify-content: center;
    padding: 10px;
    border: 2px solid grey;
}

#input1 {
    color: black;
}

#input2 {
    color: black;
}

#input3 {
    color: black;
}

.imagesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
    margin: 10px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    background-color: repeating-linear-gradient(45deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px);
}

/* #inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
} */
input[type=text] {
    height: 40px;
    color: white;
    border: 2px solid red;
    border-radius: 4px;
    margin: 15px;
}

/* #inputfile:focus+label,
#inputfile+label:hover {
    background-color: #B0E0E6;
} */
img {
    width: 250px;
    height: 270px;
    object-fit: cover;
    border: 2px solid grey;
}

h1 {
    text-align: center;
}

.commentcontainer {
    background-color: green;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    overflow-y: scroll;
    height: 400px;
}

.commentBox {
    position: relative;
    width: 500px;
    height: 100px;
    font-style: italic;
    background-color: grey;
    text-align: center;
    border-radius: 15px;
}