* {
    box-sizing: border-box;
}

body {
    background-color: #DCDCDC;
    display: grid;
    min-height: 100vh;
}

header {
    background-color: ;
}

footer {
    text-align: center;
    background-color: darkgrey;
}

.button {
    position: center;
    height: 50px;
    width: 100px;
}

h1 {
    font: 600 1.5em/1 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    color: rgba(0, 0, 0, .5);
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

#main {
    display: grid;
    flex-direction: column;
}

.card {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 350px;
    border: 2px solid green;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
}

p {
    font-size: 18px;
    font-style: normal;
}

.component {
    background-color: pink;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    /* position: relative; */
}

.main_container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.close_icon {
    position: absolute;
    top: 70px;
    right: 340px;
    padding-bottom: 5px;
}

.componentBox1 {
    border: black;
    /* background-color: grey; */
    width: 600px;
    height: 800px;
}

.componentBox2 {
    border: 2px solid black;
    background-color: #FAEBD7;
    width: 600px;
    height: 800px;
    text-align: center;
}

.inputUpload {
    margin-bottom: 10px;
    height: 70px;
    display: flex;
    background: yellow;
    justify-content: center;
    padding: 10px;
    border: 2px solid grey;
}

#input1 {
    color: black;
}

#input2 {
    color: black;
}

#input3 {
    color: black;
}

.imagesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
    margin: 10px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    background-color: repeating-linear-gradient(45deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px);
}

input[type=text] {
    height: 40px;
    color: white;
    border: 2px solid red;
    border-radius: 4px;
    margin-right: 15px;
}

img {
    width: 250px;
    height: 270px;
    object-fit: cover;
    border: 2px solid grey;
}

h1 {
    text-align: center;
}

.commentcontainer {
    /* background-color: #FFE4C4; */
    /* border: 4px solid grey; */
    display: flex;
    flex-direction: column;
    font-size: 10px;
    overflow-y: scroll;
    height: 400px;
    /* display: flex; */
}

#tempbutton {
    background-color: #DC143C;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#tempImage {
    height: 730px;
    width: 550px;
    border: 4px solid grey;
}

.commentInput {
    margin-bottom: 40px;
    background-color: #ADD8E6;
}

#comment {
    height: 50px;
    width: 200px;
}

#username {
    height: 50px;
    width: 100px;
}

.commentBox {
    width: 300px;
    height: 100px;
    font-style: italic;
    background-color: #DEB887;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    /* justify-content: center; */
    margin-left: 145px;
    margin-bottom: 2px;
}